<label for="usergroup">
	<f:translate key="tx_blsvsa2013_domain_model_feuser.usergroup" />
</label><br />
	<f:form.textarea property="usergroup" cols="40" rows="15" /><br />
<label for="username">
	<f:translate key="tx_blsvsa2013_domain_model_feuser.username" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="username" /><br />
<label for="name">
	<f:translate key="tx_blsvsa2013_domain_model_feuser.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="testtca">
	<f:translate key="tx_blsvsa2013_domain_model_feuser.testtca" />
</label><br />
	<f:form.textfield property="testtca" /><br />