<table class="tx-blsvsa2013" >
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_feuser.usergroup" />
		</td>
		<td>
			{feuser.usergroup}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_feuser.username" />
		</td>
		<td>
			{feuser.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_feuser.name" />
		</td>
		<td>
			{feuser.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_feuser.testtca" />
		</td>
		<td>
			{feuser.testtca}
		</td>
	</tr>
</table>