<f:layout name="Default" />

<f:section name="main">

<h1>Import Schueler</h1>




<f:if condition="{importInfo.erg}>-1">
	Es wurden {importInfo.importiert} Schueler importiert. {importInfo.vorhanden} Schueler wurden ignoriert, da schon vorhanden.<br /><br />
</f:if>


<f:if condition="{importInfo.erg}==-1">
	<b>Beim Import traten Fehler auf.</b><br />
	Es wurden {importInfo.importiert} Schueler importiert. {importInfo.vorhanden} Schueler wurden ignoriert, da schon vorhanden.<br /><br />

	<b>Fehler:</b><br />
	<f:for each="{importInfo.errors}" as="line">
		<b>{line.zeile}</b><br />
		<f:for each="{line.fehler}" as="fehler">
			<f:translate key="tx_blsvsa2013_lib_import.error_{fehler}">{fehler}</f:translate>
			<br />
		</f:for>
	</f:for>
</f:if>






<f:form action="import" name="reqdata">
	<f:form.textarea cols="20" rows="5" property="schuelerstring" /><br />
	<f:form.submit value="Import" />
</f:form>


</f:section>

