<f:layout name="Default" />
This Template is responsible for creating a table of domain objects.
If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:  
Resources:    Private:      Templates:        List.html: keep
Otherwise your changes will be overwritten the next time you save the extension in the extension builder


<f:section name="main">

<h1>Klassse {schuelers.0.klasse} <f:translate key="tx_blsvsa2013_domain_model_schueler.geschlecht{schuelers.0.geschlecht}" /></h1>
<table>
	<tr>
			<th  class="linksoben"><f:translate key="tx_blsvsa2013_domain_model_schueler.vorname" /></th>
			<th  class="linksoben"><f:translate key="tx_blsvsa2013_domain_model_schueler.name" /></th>
			<th  class="linksoben"><f:translate key="tx_blsvsa2013_domain_model_schueler.geburtstag" /></th>
			<th>Punkte/Abzeichen</th>
			<th class="rechtsoben"></th>		
		</tr>
 
	 <f:for each="{schuelers}" as="schueler">
		<tr>
			<td class="klasse"> {schueler.vorname}</td>
			<td class="">{schueler.name}</td>
			<td class="geschlecht">{schueler.geburtstag}</td>	
						
			<td class="excelholen"><f:form.select class="punktegesamt bgabzeichen{schueler.punktegesamt}" id="schuelerAnzpunkte{schueler.uid}" property="punktegesamt[]" options="{ 0:'0 Pkte / keins', 1:'1 Pkt  / keins', 2:'2 Pkte / keins',3:'3 Pkte / keins',
																					 4:'4 Pkte / Bronze', 5:' 5 Pkte / Bronze ', 6:'  6 Pkte / Bronze',7:'  7 Pkte / Bronze/ ',
																					 8:'8 Pkte / Silber', 9:' 9 Pkte / Silber', 10:' 10 Pkte / Silber',
																					 11:' 11 Pkte / Gold', 12:'12 Pkte / Gold' }" /></td>
			<td class="klassebearbeiten"><button class="holeklasse" id="{klasse.uid}"  value='<f:uri.action pageUid="35" action="list" controller="Schueler" arguments="{klasse : klasse}" />' ><f:translate key="tx_blsvsa2013_domain_model_klassen.zeigeklasse" /></button></td>
		</tr>
	</f:for>
</table>   
 </f:section>



