<f:layout name="Default" />
This Template is responsible for creating a table of domain objects.
If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:  
Resources:    Private:      Templates:        List.html: keep
Otherwise your changes will be overwritten the next time you save the extension in the extension builder


<f:section name="main">
<table class="schuelersuchlist">
 <f:for each="{schuelers}" as="schueler">
		<tr onclick="waehleSchueler({schueler.uid}, '{schueler.name}', '{schueler.vorname}', ' {schueler.geschlecht} ', ' <f:format.date format="d.m.Y">@{schueler.geburtstag}</f:format.date> ', '{schueler.jahrderletztenpruefung}', '{schueler.anzteilnahmen}', '{schueler.schwimmnachweisgueltigbis}' )" >
			<td class="">{schueler.uid}</td>
			<td class="">{schueler.name}</td>
			<td class="klasse"> {schueler.vorname}</td>
			<td class="geschlecht"><f:format.date format="d.m.Y">@{schueler.geburtstag}</f:format.date></td>	
		</tr>
	</f:for>
</table>   

</f:section>



