<label for="vorname">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.vorname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="vorname" /><br />
<label for="name">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="geschlecht">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.geschlecht" />
</label><br />
	<f:form.textfield property="geschlecht" /><br />
<label for="geburtstag">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.geburtstag" />
</label><br />
	<f:form.textfield property="geburtstag" /><br />
<label for="anzteilnahmen">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.anzteilnahmen" />
</label><br />
	<f:form.textfield property="anzteilnahmen" /><br />
<label for="punktegesamt">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punktegesamt" />
</label><br />
	<f:form.textfield property="punktegesamt" /><br />
<label for="urkundenart">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.urkundenart" />
</label><br />
	<f:form.textfield property="urkundenart" /><br />
<label for="gedruckt">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.gedruckt" />
</label><br />
	<f:form.textfield property="gedruckt" /><br />
<label for="drucktstamp">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.drucktstamp" />
</label><br />
	<f:form.textfield property="drucktstamp" /><br />
<label for="klasse">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.klasse" />
</label><br />
	<f:form.textfield property="klasse" /><br />
<label for="grundschulwettbewerb">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.grundschulwettbewerb" />
</label><br />
	<f:form.textfield property="grundschulwettbewerb" /><br />
<label for="schwimmnachweisgueltigbis">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.schwimmnachweisgueltigbis" />
</label><br />
	<f:form.textfield property="schwimmnachweisgueltigbis" /><br />
<label for="leistungstabelle1">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.leistungstabelle1" />
</label><br />
	<f:form.textfield property="leistungstabelle1" /><br />
<label for="ablagedatum1">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ablagedatum1" />
</label><br />
	<f:form.textfield property="ablagedatum1" /><br />
<label for="pruefer1">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefer1" />
</label><br />
	<f:form.textfield property="pruefer1" /><br />
<label for="ergebnis1">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ergebnis1" />
</label><br />
	<f:form.textfield property="ergebnis1" /><br />
<label for="punkte1">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punkte1" />
</label><br />
	<f:form.textfield property="punkte1" /><br />
<label for="leistungstabelle2">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.leistungstabelle2" />
</label><br />
	<f:form.textfield property="leistungstabelle2" /><br />
<label for="ablagedatum2">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ablagedatum2" />
</label><br />
	<f:form.textfield property="ablagedatum2" /><br />
<label for="pruefer2">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefer2" />
</label><br />
	<f:form.textfield property="pruefer2" /><br />
<label for="ergebnis2">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ergebnis2" />
</label><br />
	<f:form.textfield property="ergebnis2" /><br />
<label for="punkte2">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punkte2" />
</label><br />
	<f:form.textfield property="punkte2" /><br />
<label for="leistungstabelle3">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.leistungstabelle3" />
</label><br />
	<f:form.textfield property="leistungstabelle3" /><br />
<label for="ablagedatum3">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ablagedatum3" />
</label><br />
	<f:form.textfield property="ablagedatum3" /><br />
<label for="pruefer3">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefer3" />
</label><br />
	<f:form.textfield property="pruefer3" /><br />
<label for="ergebnis3">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ergebnis3" />
</label><br />
	<f:form.textfield property="ergebnis3" /><br />
<label for="punkte3">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punkte3" />
</label><br />
	<f:form.textfield property="punkte3" /><br />
<label for="leistungstabelle4">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.leistungstabelle4" />
</label><br />
	<f:form.textfield property="leistungstabelle4" /><br />
<label for="ablagedatum4">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ablagedatum4" />
</label><br />
	<f:form.textfield property="ablagedatum4" /><br />
<label for="pruefer4">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefer4" />
</label><br />
	<f:form.textfield property="pruefer4" /><br />
<label for="ergebnis4">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ergebnis4" />
</label><br />
	<f:form.textfield property="ergebnis4" /><br />
<label for="punkte4">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punkte4" />
</label><br />
	<f:form.textfield property="punkte4" /><br />
<label for="pruefungsjahr">
	<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefungsjahr" />
</label><br />
	<f:form.textfield property="pruefungsjahr" /><br />