<table class="tx-blsvsa2013" >
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.vorname" />
		</td>
		<td>
			{teilnahmen.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.name" />
		</td>
		<td>
			{teilnahmen.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.geschlecht" />
		</td>
		<td>
			{teilnahmen.geschlecht}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.geburtstag" />
		</td>
		<td>
			{teilnahmen.geburtstag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.anzteilnahmen" />
		</td>
		<td>
			{teilnahmen.anzteilnahmen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punktegesamt" />
		</td>
		<td>
			{teilnahmen.punktegesamt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.urkundenart" />
		</td>
		<td>
			{teilnahmen.urkundenart}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.gedruckt" />
		</td>
		<td>
			{teilnahmen.gedruckt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.drucktstamp" />
		</td>
		<td>
			{teilnahmen.drucktstamp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.klasse" />
		</td>
		<td>
			{teilnahmen.klasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.grundschulwettbewerb" />
		</td>
		<td>
			{teilnahmen.grundschulwettbewerb}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.schwimmnachweisgueltigbis" />
		</td>
		<td>
			{teilnahmen.schwimmnachweisgueltigbis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.leistungstabelle1" />
		</td>
		<td>
			{teilnahmen.leistungstabelle1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ablagedatum1" />
		</td>
		<td>
			{teilnahmen.ablagedatum1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefer1" />
		</td>
		<td>
			{teilnahmen.pruefer1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ergebnis1" />
		</td>
		<td>
			{teilnahmen.ergebnis1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punkte1" />
		</td>
		<td>
			{teilnahmen.punkte1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.leistungstabelle2" />
		</td>
		<td>
			{teilnahmen.leistungstabelle2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ablagedatum2" />
		</td>
		<td>
			{teilnahmen.ablagedatum2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefer2" />
		</td>
		<td>
			{teilnahmen.pruefer2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ergebnis2" />
		</td>
		<td>
			{teilnahmen.ergebnis2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punkte2" />
		</td>
		<td>
			{teilnahmen.punkte2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.leistungstabelle3" />
		</td>
		<td>
			{teilnahmen.leistungstabelle3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ablagedatum3" />
		</td>
		<td>
			{teilnahmen.ablagedatum3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefer3" />
		</td>
		<td>
			{teilnahmen.pruefer3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ergebnis3" />
		</td>
		<td>
			{teilnahmen.ergebnis3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punkte3" />
		</td>
		<td>
			{teilnahmen.punkte3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.leistungstabelle4" />
		</td>
		<td>
			{teilnahmen.leistungstabelle4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ablagedatum4" />
		</td>
		<td>
			{teilnahmen.ablagedatum4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefer4" />
		</td>
		<td>
			{teilnahmen.pruefer4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.ergebnis4" />
		</td>
		<td>
			{teilnahmen.ergebnis4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.punkte4" />
		</td>
		<td>
			{teilnahmen.punkte4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_teilnahmen.pruefungsjahr" />
		</td>
		<td>
			{teilnahmen.pruefungsjahr}
		</td>
	</tr>
</table>