<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages class="flashmessages" />

<f:render partial="FormErrors" />

<f:form action="update" name="schulen" object="{schulen}" >
<f:render partial="Schulen/FormFields" arguments="{schulen:schulen}" />
	
</f:form>
</f:section>