<label for="vorname">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.vorname" />
</label><br />
	<f:form.textfield property="vorname" /><br />
<label for="name">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="geschlecht">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.geschlecht" />
</label><br />
	<f:form.textfield property="geschlecht" /><br />
<label for="geburtstag">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.geburtstag" />
</label><br />
	<f:form.textfield property="geburtstag" /><br />
<label for="klasse">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.klasse" />
</label><br />
	<f:form.textfield property="klasse" /><br />
<label for="grundschulwettbewerb">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.grundschulwettbewerb" />
</label><br />
	<f:form.checkbox property="grundschulwettbewerb" value="1" /><br />
<label for="strasse">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.strasse" />
</label><br />
	<f:form.textfield property="strasse" /><br />
<label for="plz">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.plz" />
</label><br />
	<f:form.textfield property="plz" /><br />
<label for="ort">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.ort" />
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="email">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="telefon">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.telefon" />
</label><br />
	<f:form.textfield property="telefon" /><br />
<label for="jahrderletztenpruefung">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.jahrderletztenpruefung" />
</label><br />
	<f:form.textfield property="jahrderletztenpruefung" /><br />
<label for="anzteilnahmen">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.anzteilnahmen" />
</label><br />
	<f:form.textfield property="anzteilnahmen" /><br />
<label for="schwimmnachweisgueltigbis">
	<f:translate key="tx_blsvsa2013_domain_model_schueler.schwimmnachweisgueltigbis" />
</label><br />
	<f:form.textfield property="schwimmnachweisgueltigbis" /><br />