<table class="tx-blsvsa2013" >
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.vorname" />
		</td>
		<td>
			{schueler.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.name" />
		</td>
		<td>
			{schueler.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.geschlecht" />
		</td>
		<td>
			{schueler.geschlecht}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.geburtstag" />
		</td>
		<td>
			{schueler.geburtstag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.klasse" />
		</td>
		<td>
			{schueler.klasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.grundschulwettbewerb" />
		</td>
		<td>
			{schueler.grundschulwettbewerb}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.strasse" />
		</td>
		<td>
			{schueler.strasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.plz" />
		</td>
		<td>
			{schueler.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.ort" />
		</td>
		<td>
			{schueler.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.email" />
		</td>
		<td>
			{schueler.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.telefon" />
		</td>
		<td>
			{schueler.telefon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.jahrderletztenpruefung" />
		</td>
		<td>
			{schueler.jahrderletztenpruefung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.anzteilnahmen" />
		</td>
		<td>
			{schueler.anzteilnahmen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_blsvsa2013_domain_model_schueler.schwimmnachweisgueltigbis" />
		</td>
		<td>
			{schueler.schwimmnachweisgueltigbis}
		</td>
	</tr>
</table>